
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #eceff1, #f3f4f6);
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}

.title {
    align-content: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.subtitle {
    font-size: 18px;
    color: #555;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 10px;
}

.button, .selected {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #b3cde0;
}

.selected {
    background: #0b644c;
    color: white;
}

.task-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
}

.input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
}

.input:focus {
    border-color: #0b644c;
}

.submit-button {
    padding: 10px 20px;
    background: #0b644c;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: #0b644c;
}