.search-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  padding: 2rem;
  background: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.search-container  .search-worker {
  text-align: center;
  margin-bottom: 2rem;
  grid-column: span 2;
}

.search-container .search-worker h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.search-container .search-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

 .search-container .search-bar input {
  width: 300px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.search-container .search-bar button {
  padding: 0.8rem 2rem;
  background-color:#2d2d8b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-container .search-bar button:hover {
  background-color: #2d2d8b;
}

.search-container .filter-section {
  padding: 2.5rem;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.search-container .filter-section h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.search-container .filter-section label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #555;
}

.search-container .search-content {
  margin-top: 0;
}

.search-container .search-content h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.search-container .job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.search-container .job-card {
  background: #f3e8fd;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.search-container .job-card:hover {
  transform: scale(1.01);
}

.search-container .job-card h4 {
  color: #2d2d8b;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.search-container .job-card p {
  color: #333;
  margin-bottom: 0.5rem;
}

.search-container .job-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6c3dc1;
  font-weight: 500;
}

.search-container .job-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.search-container .details-btn {
  padding: 0.6rem 1.2rem;
  border: 1px solid #6c3dc1;
  background: none;
  color: #6c3dc1;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-container .details-btn:hover {
  background: #6c3dc1;
  color: white;
}

.book-btn {
  padding: 0.6rem 1.2rem;
  background: #2d2d8b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.book-btn:hover {
  background: #272773;
}